@font-face {
    font-family: 'ReadexPro';
    src: url('ReadexPro-Regular.ttf') format("truetype");
    font-weight: 400;
    font-style: normal;
}

/* DM MONO */
@font-face {
    font-family: 'DMMono';
    src: url('DMMono-Medium.ttf') format("truetype");
    font-weight: 400;
    font-style: normal;
}


/* TITILLIUM WEB */
@font-face {
    font-family: 'TitilliumWeb';
    src: url('TitilliumWeb-Regular.ttf') format("truetype");
    font-weight: 400;
    font-style: normal;
}

/* @font-face {
    font-family: 'TitilliumWeb';
    src: url('TitilliumWeb-Black.ttf') format("truetype");
    font-weight: 400;
    font-style: normal;
    color: black;
} */

@font-face {
    font-family: "TitilliumWeb";
    src: url('TitilliumWeb-Bold.ttf') format("truetype");
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: "TitilliumWeb";
    src: url('TitilliumWeb-BoldItalic.ttf') format("truetype");
    font-weight: 700;
    font-style: italic;
}

@font-face {
    font-family: "TitilliumWeb";
    src: url('TitilliumWeb-ExtraLight.ttf') format("truetype");
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: "TitilliumWeb";
    src: url('TitilliumWeb-ExtraLightItalic.ttf') format("truetype");
    font-weight: 200;
    font-style: italic;
}

@font-face {
    font-family: "TitilliumWeb";
    src: url('TitilliumWeb-Italic.ttf') format("truetype");
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: "TitilliumWeb";
    src: url('TitilliumWeb-Light.ttf') format("truetype");
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: "TitilliumWeb";
    src: url('TitilliumWeb-LightItalic.ttf') format("truetype");
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: "TitilliumWeb";
    src: url('TitilliumWeb-SemiBold.ttf') format("truetype");
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: "TitilliumWeb";
    src: url('TitilliumWeb-SemiBoldItalic.ttf') format("truetype");
    font-weight: 600;
    font-style: italic;
}


/* Add to fix text-input focus UI on story */
input:focus-visible {
    outline: none;
}