@font-face {
    font-family: 'ReadexPro';
    src: url('../fonts/ReadexPro/ReadexPro-Regular.ttf') format("truetype");
    font-weight: 400;
    font-style: normal;
}

/* DM MONO */
@font-face {
    font-family: 'DMMono';
    src: url('../fonts/DMMono/DMMono-Medium.ttf') format("truetype");
    font-weight: 400;
    font-style: normal;
}


/* TITILLIUM WEB */
@font-face {
    font-family: 'TitilliumWeb';
    src: url('../fonts/TitilliumWeb/TitilliumWeb-Regular.ttf') format("truetype");
    font-weight: 400;
    font-style: normal;
}

/* @font-face {
    font-family: 'TitilliumWeb';
    src: url('../fonts/TitilliumWeb/TitilliumWeb-Black.ttf') format("truetype");
    font-weight: 400;
    font-style: normal;
    color: black;
} */

@font-face {
    font-family: "TitilliumWeb";
    src: url('../fonts/TitilliumWeb/TitilliumWeb-Bold.ttf') format("truetype");
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: "TitilliumWeb";
    src: url('../fonts/TitilliumWeb/TitilliumWeb-BoldItalic.ttf') format("truetype");
    font-weight: 700;
    font-style: italic;
}

@font-face {
    font-family: "TitilliumWeb";
    src: url('../fonts/TitilliumWeb/TitilliumWeb-ExtraLight.ttf') format("truetype");
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: "TitilliumWeb";
    src: url('../fonts/TitilliumWeb/TitilliumWeb-ExtraLightItalic.ttf') format("truetype");
    font-weight: 200;
    font-style: italic;
}

@font-face {
    font-family: "TitilliumWeb";
    src: url('../fonts/TitilliumWeb/TitilliumWeb-Italic.ttf') format("truetype");
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: "TitilliumWeb";
    src: url('../fonts/TitilliumWeb/TitilliumWeb-Light.ttf') format("truetype");
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: "TitilliumWeb";
    src: url('../fonts/TitilliumWeb/TitilliumWeb-LightItalic.ttf') format("truetype");
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: "TitilliumWeb";
    src: url('../fonts/TitilliumWeb/TitilliumWeb-SemiBold.ttf') format("truetype");
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: "TitilliumWeb";
    src: url('../fonts/TitilliumWeb/TitilliumWeb-SemiBoldItalic.ttf') format("truetype");
    font-weight: 600;
    font-style: italic;
}