@font-face {
    font-family: 'Titillio';
    src: url('Titillio-Thin.otf') format("truetype");
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'Titillio';
    src: url('Titillio-Light.otf') format("truetype");
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Titillio';
    src: url('Titillio-Regular.otf') format("truetype");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Titillio';
    src: url('Titillio-Semibold.otf') format("truetype");
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Titillio';
    src: url('Titillio-Bold.otf') format("truetype");
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Titillio';
    src: url('Titillio-Black.otf') format("truetype");
    font-weight: 900;
    font-style: normal;
}

/* DM MONO */
@font-face {
    font-family: 'DMMono';
    src: url('DMMono-Medium.ttf') format("truetype");
    font-weight: 400;
    font-style: normal;
}

/* TITILLIUM SANS PRO */
@font-face {
    font-family: "TitilliumSansPro";
    src: url('TitilliumSansPro-Thin.otf') format("opentype");
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: "TitilliumSansPro";
    src: url('TitilliumSansPro-ThinItalic.otf') format("opentype");
    font-weight: 200;
    font-style: italic;
}

@font-face {
    font-family: "TitilliumSansPro";
    src: url('TitilliumSansPro-Light.otf') format("opentype");
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: "TitilliumSansPro";
    src: url('TitilliumSansPro-LightItalic.otf') format("opentype");
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'TitilliumSansPro';
    src: url('TitilliumSansPro-Regular.otf') format("opentype");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "TitilliumSansPro";
    src: url('TitilliumSansPro-Italic.otf') format("opentype");
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: "TitilliumSansPro";
    src: url('TitilliumSansPro-Semibold.otf') format("opentype");
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: "TitilliumSansPro";
    src: url('TitilliumSansPro-SemiboldItalic.otf') format("opentype");
    font-weight: 600;
    font-style: italic;
}

@font-face {
    font-family: "TitilliumSansPro";
    src: url('TitilliumSansPro-Bold.otf') format("opentype");
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: "TitilliumSansPro";
    src: url('TitilliumSansPro-BoldItalic.otf') format("opentype");
    font-weight: 700;
    font-style: italic;
}

/* Add to fix text-input focus UI on story */
input:focus-visible {
    outline: none;
}