@font-face {
    font-family: 'ReadexPro';
    src: url('../fonts/ReadexPro/ReadexPro-Regular.ttf')
}
@font-face {
    font-family: 'RobotoMono';
    src: url('../fonts/RobotoMono/RobotoMono-Regular.ttf')
}
@font-face {
    font-family: 'TitilliumWeb';
    src: url('../fonts/TitilliumWeb/TitilliumWeb-Regular.ttf')
}