<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CADisableMinimumFrameDurationOnPhone</key>
	<true/>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>ExampleApp</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<false/>
		<key>NSAllowsLocalNetworking</key>
		<true/>
	</dict>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string></string>
	<key>RCTNewArchEnabled</key>
	<true/>
	<key>UIAppFonts</key>
	<array>
		<string>TitilliumSansPro-Black.otf</string>
		<string>TitilliumSansPro-BlackItalic.otf</string>
		<string>TitilliumSansPro-Bold.otf</string>
		<string>TitilliumSansPro-BoldItalic.otf</string>
		<string>TitilliumSansPro-Italic.otf</string>
		<string>TitilliumSansPro-Light.otf</string>
		<string>TitilliumSansPro-LightItalic.otf</string>
		<string>TitilliumSansPro-Regular.otf</string>
		<string>TitilliumSansPro-Semibold.otf</string>
		<string>TitilliumSansPro-SemiboldItalic.otf</string>
		<string>TitilliumSansPro-Thin.otf</string>
		<string>TitilliumSansPro-ThinItalic.otf</string>
		<string>Titillio-Black.otf</string>
		<string>Titillio-BlackItalic.otf</string>
		<string>Titillio-Bold.otf</string>
		<string>Titillio-BoldItalic.otf</string>
		<string>Titillio-Extrablack.otf</string>
		<string>Titillio-ExtrablackItalic.otf</string>
		<string>Titillio-Extrabold.otf</string>
		<string>Titillio-ExtraboldItalic.otf</string>
		<string>Titillio-Light.otf</string>
		<string>Titillio-LightItalic.otf</string>
		<string>Titillio-Regular.otf</string>
		<string>Titillio-RegularItalic.otf</string>
		<string>Titillio-Semibold.otf</string>
		<string>Titillio-SemiboldItalic.otf</string>
		<string>Titillio-Thin.otf</string>
		<string>Titillio-ThinItalic.otf</string>
		<string>FiraCode-Medium.ttf</string>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>arm64</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
</dict>
</plist>
