name: Publish the storybook
on:
  - pull_request
jobs:
  storybook-release:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@8e5e7e5ab8b370d6c329ec480221332ada57f0ab #v3.5.2
      - name: Setup Node
        uses: actions/setup-node@7c12f8017d5436eb855f1ed4399f037a36fbd9e8 #v2.5.2
        with:
          node-version-file: .nvmrc
          registry-url: 'https://registry.npmjs.org'
      - name: Install dependencies and build with builder bob
        run: yarn install --frozen-lockfile
      - name: Build Storybook
        run: yarn predeploy
      - name: 'upload'
        uses: actions/upload-pages-artifact@v1.0.4
        with: 
          path: "storybook-static"
      - id: deploy
        name: Deploy to GitHub Pages
        uses: actions/deploy-pages@v1
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
        